
@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout1.cshtml";
    Layout = null;
}

<h1>Index Page</h1>
<p>This is index page</p>

@ViewData["data1"]
@ViewBag.data2

@{
    if (TempData["data4"] != null)
    {
        foreach (var item in (List<string>)TempData["data4"])
        {
            <h2>@item</h2>
        }
    }
    else
    {
        <h2>No data found</h2>
    }
}

@* @ViewData["data6"]
<br />
@ViewBag.Myname
<br />
@ViewBag.Data1
<br />
@ViewBag.Data2
<br />
@ViewBag.Data3
<br />
@{
    foreach(var items in ViewBag.Data4)
    {
        <h2>@items</h2>
    }
}
@{
    foreach(var items in ViewBag.Data5)
    {
        <h2>@items</h2>
    }
} *@



@* @ViewData["Data1"]
<br />
@ViewData["Data2"]
<br />
@ViewData["Data3"]
<br />

@{
    foreach(var items in (string[])ViewData["data4"])
    {
        <h2>@items</h2>
    }
}
@{
    foreach(var items in (List<string>)ViewData["data5"])
    {
        <h2>@items</h2>
    }
} *@